body{
    background: #8360c3;
  background: -webkit-linear-gradient(to right, #2ebf91, #8360c3); 
  background: linear-gradient(to right, #2ebf91, #8360c3);
  }
div.gallery {
margin: 5px;
border: 1px solid #ccc;
float: left;
width: 180px;
}

div.gallery:hover {
border: 1px solid #777;
}

div.gallery img {
width: 100%;
height: auto;
}

div.desc {
padding: 15px;
text-align: center;
}

.heart {
  background-image: url(https://www.rgluis.com/wp-content/uploads/2015/11/web_heart_animation.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 1450px;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  width: 50px;
}
.heart:hover
{
  background-position: right;
}

@-webkit-keyframes heartTransition
{
  0% {background-position: left;}
  100% {background-position: right;}
}

@keyframes heartTransition
{
  0% {background-position: left;}
  100% {background-position: right;}
}

.heart_animate
{
  -webkit-animation-duration: .8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: heartTransition;
  -webkit-animation-timing-function: steps(28);
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-iteration-count: infinite;
  animation-name: heartTransition;
  animation-timing-function: steps(28);
  background-position: right;
}